<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MenuMapper">
  <!--菜单集-->
  <resultMap id="menuResult" type="menu">
    <id property="menu_son_id" column="menu_son_id"/>
    <result property="menu_son_name" column="menu_son_name"/>
    <result property="menu_id" column="menu_id"/>
    <result property="menu_name" column="menu_name"/>
    <result property="menu_type_id" column="menu_type_id"/>
    <result property="menu_href" column="menu_href"/>
    <result property="menu_icon" column="menu_icon"/>
    <result property="menu_description" column="menu_description"/>
    <result property="menu_order_num" column="menu_order_num"/>
    <result property="menu_shown" column="menu_shown"/>
    <result property="menu_level" column="menu_level"/>
    <result property="menu_created_time" column="menu_created_time"/>
    <result property="menu_updated_time" column="menu_updated_time"/>
    <result property="menu_created_by" column="menu_created_by"/>
    <result property="menu_updated_by" column="menu_updated_by"/>
  </resultMap>
  <!--菜单父子集-->
  <resultMap id="menufatherAndSonResult" type="menu">
     <id property="menu_son_id" column="menu_son_id"/>
     <result property="menu_son_name" column="menu_son_name"/>
     <result property="menu_id" column="menu_id"/>
     <result property="menu_name" column="menu_name"/>
     <result property="menu_type_id" column="menu_type_id"/>
     <result property="menu_href" column="menu_href"/>
     <result property="menu_icon" column="menu_icon"/>
     <result property="menu_description" column="menu_description"/>
     <result property="menu_order_num" column="menu_order_num"/>
     <result property="menu_shown" column="menu_shown"/>
     <result property="menu_level" column="menu_level"/>
     <result property="menu_created_time" column="menu_created_time"/>
     <result property="menu_updated_time" column="menu_updated_time"/>
     <result property="menu_created_by" column="menu_created_by"/>
     <result property="menu_updated_by" column="menu_updated_by"/>
     <collection property="subMenuList" ofType="menu" select="selAllSonMenu" column="menu_son_id">
     </collection>
   </resultMap>
  <!--查询全部的菜单-->
  <select id="selAllMenu" resultMap="menuResult">
     select * from menu
  </select>
  <!--查询全部的父菜单-->
  <select id="selAllParentMenu" resultMap="menufatherAndSonResult">
    select * from menu where menu_type_id = #{menu_type_id}
  </select>
  <!--查询父菜单下的全部子菜单-->
  <select id="selAllSonMenu" resultMap="menufatherAndSonResult">
    select * from menu where menu_id = #{menu_son_id}
  </select>
</mapper>